<!-- https://developers.google.com/maps/documentation/javascript/tutorial?csw=1
 -->
<div id="map-canvas"></div>


<div id="search-container">
  <div id="map-search">
    <form>
      <input type="text" placeholder="Enter street address, city or zip code">
      <a href="#" id="map-search-submit">
        Search
      </a>
    </form>
  </div>
 <div id="search-results"></div>
</div>
