<!-- https://developers.google.com/maps/documentation/javascript/tutorial?csw=1
 -->

<div id="map-canvas" class="col-md-6"></div>
<div id="map-search-container">
  <div id="map-search">
    <form>
      <input type="text" placeholder="Enter street address, city or zip code">
      <button id="map-search-submit">
        Search
      </button>
    </form>
  </div>
 <div id="search-results"></div>
</div>

