// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#map-canvas {
  height: 100%;
  width: 100%;
}

#map-search-container {
  left: 0;
  margin: 10px;
  position: absolute;
  top: 5%;
  width: 40%;

  #map-search {
    margin-left: 5px;

    input {
      height: 30px;
      padding-left: 10px;
      width: 70%;
    }

    input:focus {
      outline: none;
      border: 1px solid green;
    }

    form a {
      background: green;
      color: white;
      display: inline-block;
      font-size: 0.8em;
      padding: 9px;
      text-align: center;
      text-decoration: underline;
      width: 10%;
      height: 30px;
      position: fixed;
    }
  }

  #search-results {

    margin-top: 15px;
    width: 100%;

    .search-result {
      background: #eaf4f8;
      border-radius: 20px 5px 5px 20px;
      display: inline-block;
      margin-bottom: 5px;
      width: 55%;

      .business-address {
        font-size: 1em;
        margin-left: 10%;
      }

      .business-name {
        margin-top: 5%;
        margin-left: 10%;

        a {
          text-decoration: none;
        }
      }

      img {
        border-radius: 50%;
        display: inline-block;
        float: left;
        height: auto;
        width: 14%;
      }
    }
  }
}
