// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#map-canvas {
  height: calc(100% - 35px);
  width: 100%;
}

#map-search-container {
  left: 0;
  margin: 10px;
  position: absolute;
  top: 5%;
  width: 40%;
  height: calc(100% - 35px);
  padding: 14px;

  #map-search {
    margin-left: 5px;

    input {
      height: 30px;
      padding-left: 10px;
      width: 70%;
      border: 2px solid #27612f;
    }

    input:focus {
      outline: none;
    }

    button {
      background:#27612f;
      color: #fff;
      display: inline-block;
    }
  }

  #search-results {

    margin-top: 14px;
    width: 50%;
    height: calc(100% - 50px);
    overflow: scroll;
    border: 2px solid #27612f;
    padding: 10px;

    .search-result {
      background: #eaf4f8;
      border-radius: 14px 5px 5px 14px;
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;

      .business-address {
        font-size: 0.9em;
        margin-left: 10%;
      }

      .business-name {
        margin-top: 5%;
        margin-left: 10%;
        text-decoration: underline;
        color: blue;
        cursor: pointer;
      }

      .business-name-url {
        margin-top: 5%;
        margin-left: 10%;
      }

      .businessImg {
        border-radius: 100%;
        display: inline-block;
        float: left;
        height: auto;
        width: 25%;
      }
    }
  }

  #hook{
    width: 200px;
    height: 100px;
    overflow: scroll;

    .snippet_text {
        font-size: 10px;
        word-wrap: break-word;
      }
    }
}
